*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#111827;
    color:white;
    font-family:Arial, sans-serif;
}

header{
    background:#1F2937;
    padding:20px;
    text-align:center;
}

main{
    text-align:center;
    margin-top:100px;
}

h2{
    font-size:36px;
}

p{
    margin-top:15px;
    font-size:18px;
}

button{
    margin-top:30px;
    padding:15px 30px;
    font-size:18px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}